.globalweb {
    width: 70%;
    margin: auto;
}

.hinh-pet {
    width: 100%;
}

.ten-pet {
    width: 100%;
}

.global-web {
    width: 70%;
    margin: auto;
}

.web-banner {
    width: 100%;
}